/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #FFDE61; /* Background Yellow */
}

/* Header Styles */
.header {
    background-color: #838216; /* Matcha Greenish Color */
    color: #FFD000; /* Text Yellow */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    font-size: 2rem;
}

.nav-buttons a {
    text-decoration: none;
    color: #FFD000; /* Text Yellow */
    margin-left: 20px;
}

.nav-buttons a:hover {
    color: #FBA619; /* Orange-like Color */
}

/* Hero Section */
.hero img {
    width: 50%;
}

/* Menu Section */
.menu-section {
    text-align: center;
}

.menu-section h2 {
    color: #838216; /* Matcha Greenish Color */
}

.menu-items {
    display: flex;
    justify-content: center;
}

.item {
    margin: 10px;
}

.item img {
    width: 200px;
}

.item p {
    color: #838216; /* Matcha Greenish Color */
}

/* Footer Styles */
.footer {
    background-color: #838216; /* Matcha Greenish Color */
    color: #FFD000; /* Text Yellow */
    text-align: center;
    padding: 10px 0;
}

.hero {
    display: flex;
    flex-wrap: wrap;
}

.hero-section {
    flex: 1;
    min-width: 300px; /* Adjust as needed */
    height: 400px; /* Adjust as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.hero-section.section-left {
    background-color: #616015; /* Starbucks dark green */
    color: #FFD000;
    padding: 20px;
}

.hero-section.section-right {
    background-color: #105f27; /* Light gray background */
}

.hero-section.section-right img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* This is the key property */
    max-width: none;
}

.text-content {
    text-align: left;
}

.text-content h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.text-content p {
    font-size: 1em;
    line-height: 1.4;
    margin-bottom: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    color: #1e3932;
    text-decoration: none;
    border-radius: 25px;
}

.button:hover {
    background-color: #cccccc;
}
