/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #FFDE61; /* Background Yellow */
}

/* Header Styles */
.header {
    background-color: #838216; /* Matcha Greenish Color */
    color: #FFD000; /* Text Yellow */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    font-size: 2rem;
}

.nav-buttons a {
    text-decoration: none;
    color: #FFD000; /* Text Yellow */
    margin-left: 20px;
}

.nav-buttons a:hover {
    color: #FBA619; /* Orange-like Color */
}

/* Hero Section */
.hero img {
    width: 100%;
}

/* Menu Section */
.menu-section {
    text-align: center;
}

.menu-section h2 {
    color: #838216; /* Matcha Greenish Color */
}

.menu-items {
    display: flex;
    justify-content: center;
}

.item {
    margin: 10px;
}

.item img {
    width: 200px;
}

.item p {
    color: #838216; /* Matcha Greenish Color */
}

/* Footer Styles */
.footer {
    background-color: #838216; /* Matcha Greenish Color */
    color: #FFD000; /* Text Yellow */
    text-align: center;
    padding: 10px 0;
}
